body{
    background-color:rgb(200,200,200);
}

.title {
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.ribbon-bar{
    display: flex;
    justify-content: center;
}

.content-window{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pixel-grid{
    height: 30em;
    width: 30em;
    background-color: black;
}